node_modules
jspm_packages
dist
bower_components
.idea
.DS_STORE
build/reports
esdoc
AppConfig.js

test/e2e/dist/*
test/e2e/dist
test/e2e/dist/demo.spec.js
test/e2e/dist/welcome.po.js
archive

client/export
client/export/config.js
client/export/favicon.ico
client/export/index.html
client/export/styles/styles.css
