node_modules
jspm_packages
dist
bower_components
.idea
.DS_STORE
build/reports

esdoc
AppConfig.js
test/e2e/dist
archive
webeditor/export
webeditor/src/config/config.json
sample-plainhtml/aurelia-cdn
sample-plainhtml/plugin-cdn
