**/node_modules
**/jspm_packages
**/dist
**/bower_components
**/build/reports
**/test/e2e/dist

.idea
.DS_STORE
archive
deploy/webeditor

webeditor/export
webeditor/src/config/config.json

sample-plainhtml/aurelia-cdn
sample-plainhtml/plugin-cdn

