<template>
  <div class="col-sm-10 col-sm-offset-1">
    <div class="col-md-3">
      <h2>BEL Editor</h2>
    </div>
    <!-- .col-md-3 -->
    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="col-sm-3">
            <label class="checkbox-inline">
              <input type="checkbox" data-ng-model="showStatement"> BEL Statement
            </label>
          </div>
          <!-- .col-sm-3 -->
          <div class="col-sm-3">
            <label class="checkbox-inline">
              <input type="checkbox" data-ng-model="showCitation"> Citation
            </label>
          </div>
          <!-- .col-sm-3 -->
          <div class="col-sm-3">
            <label class="checkbox-inline">
              <input type="checkbox" data-ng-model="showAnnotation"> Annotation
            </label>
          </div>
          <!-- .col-sm-3 -->
          <div class="col-sm-3">
            <label class="checkbox-inline">
              <input type="checkbox" data-ng-model="showComment"> Comment
            </label>
          </div>
          <!-- .col-sm-3 -->
        </div>
        <!-- .panel-body -->
      </div>
      <!-- .panel.panel-default -->
    </div>
    <!-- .col-md-12 -->
    <form name="newBelForm">
      <!-- BEL Statement -->
      <div data-ng-include src=" 'views/bel-statement.html' " data-ng-if="showStatement"></div>

      <!-- BEL Citation -->
      <div data-ng-include src=" 'views/bel-citation.html' " data-ng-if="showCitation"></div>

      <!-- BEL Annotations -->
      <div data-ng-include src=" 'views/bel-annotations.html' " data-ng-if="showAnnotation"></div>

      <!-- BEL Statement Metadata -->
      <div data-ng-include src=" 'views/bel-metadata.html' " data-ng-if="showComment"></div>

      <div class="col-sm-3 col-sm-offset-1">
        <input type="submit" class="btn btn-success form-control" data-ng-click="submitNewBel()" />
      </div>
      <!-- .col-sm-3.col-sm-offset-1 -->
      <div class="col-sm-3 col-sm-offset-4">
        <input type="reset" class="btn btn-danger form-control pull-right" data-ng-click="reset()" />
      </div>
      <!-- .col-sm-3.col-sm-offset-4 -->
      <div class="col-sm-12">
        <h3>Output Model</h3>
        <pre>{{modelNewBel | json}}</pre>
      </div>
    </form>
  </div>
  <!-- .col-sm-10.col-sm-offset-1 -->

</template>
